<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {# icons library #}
        <script src="https://kit.fontawesome.com/f576cd6ebe.js" crossorigin="anonymous"></script>

        <link href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" rel="stylesheet">

        <link href="{{asset("/assets/css/base.css")}}" rel="stylesheet">
        <link href="{{asset("/assets/css/menu.css")}}" rel="stylesheet">
        <link href="{{asset("/assets/css/footer.css")}}" rel="stylesheet">
        <link href="{{asset("/assets/css/confirm-action.css")}}" rel="stylesheet">

        {% if app.user == NULL %}
            {# fly article css #}
        {% endif %}

        <link rel="icon" href="{{asset("/assets/images/mire.svg")}}" size="42x42">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <main>

            {% include "_menu/menu.html.twig" %}

            <section id="main-content">

                {% include "_message-flash.html.twig" %}

                {% block body %}{% endblock %}

                {% if app.user == NULL %}
                    {# fly articles skeleton #}

                {% endif %}

            </section>

            <footer>

            </footer>

        </main>

        {% if app.user != NULL %}

            {#
                not export inner "*.js"
                because contains vars with twig value
             #}
            <script>

                const ACCOUNT_IS_VALID = !!{{app.user.isValid ? "true":"false"}} ;

            </script>

        {% endif %}

        {% if app.user != NULL %}
            {#
                not export inner "*.js"
                because contains vars with twig value
             #}
            <script>
                const TOKEN_USER = '{{app.user.token}}' ;
            </script>
            <script src="{{asset("/assets/js/count-message-box.js")}}"></script>
        {% endif %}

        {% if app.user != NULL and app.user.isValid == true %}
            <script src="{{asset("/assets/js/state-count-message-box.js")}}"></script>
        {% endif %}

        <script src="{{asset("/assets/js/base.js")}}"></script>
        <script src="{{asset("/assets/js/menu.js")}}"></script>

        {% if app.user == NULL %}
            {# fly article JavaScript #}
        {% endif %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
