{% extends "base.html.twig" %}

{% block title %}
{{article.title}} - {{article.user.username}}
{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' href="{{asset('assets/css/article-details.css')}}">
    <link rel='stylesheet' href="{{asset('assets/css/commentary-item.css')}}">
{% endblock %}

{% block body %}

    {% include "_css/background-image-article-details.html.twig" %}

    <section class="article-wrap" id="wrap-article-{{article.id}}">

        <div id="article-{{article.id}}">
            <header>
                <h1>
                    {{article.title}}
                </h1>

                <div>
                    <blockquote>
                        {{article.createAt|date('d/m/Y H:i/s')}}
                    </blockquote>

                    <h2>
                        Author:
                        <a href="{{path("app_user_profil" , {
                            username: article.user.username
                        } )}}">
                            {{article.user.username}}
                        </a>
                    </h2>
                </div>

            </header>

            <p class="article-content">
                {{article.content}}
            </p>
        </div>


    </section>

    <section class="commentaries-wrap">

        <header>

            <h2> {{commentaries|length}} commentaries</h2>

            {# valid account for post an comment #}
            {% if app.user != NULL and app.user.isValid %}

                {% if commentaries|length == 0 %}
                    <p>
                        you can be first to share this article
                    </p>
                {% endif %}

                {% include "_form/commentaries.html.twig" %}

            {% endif %}

            {% if commentaries|length != 0  %}
                <ul class="commentaries-list">
                    {% for commentary in commentaries  %}

                        {% if commentary.isRemove == false %}
                            {% include "_commentaries/item.html.twig" %}
                        {% endif %}


                    {% endfor %}
                </ul>
            {% endif %}

        </header>

        {% if app.user == NULL %}
            <footer>
                <ul>
                    <li>
                        <p>
                            <a
                                href="{{path("app_login")}}"
                                class="btn blue"
                            >
                                sign in
                            </a>
                        </p>
                    </li>

                    <li>
                        <p>
                            <a
                                href="{{path("app_login")}}"
                                class="btn blue"
                            >
                                sign up
                            </a>
                        </p>
                    </li>
                </ul>
            </footer>
        {% endif %}

    </section>

{% endblock %}